@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #0d1117;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


::-webkit-scroller {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #121212;
    border-radius: 5px;
}
