@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("C:\Users\msall\IdeaProjects\real-time-chat-app\frontend\public\realistic-phone-studio-social-media-concept.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


::-webkit-scroller {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #121212;
    border-radius: 5px;
}