@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("C:\Users\msall\IdeaProjects\wrenn\frontend\public\glowing-space-4k-doodle-94tm2iky5gd5za7n.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


::-webkit-scroller {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #121212;
    border-radius: 5px;
}